/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.latestReleases {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;

	&__title {
		position: relative;
		width: fit-content;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 30px, 50, 30, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 50px;
				}
			}
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -7px;
			left: 0;
			width: 100%;
			height: 4px;
			border-radius: 4px;
			background-color: $lemonChiffon;

			@media screen {
				@media #{$portrait} {
					@include fluidContent(height, 4px, 7, 4, 100vw);
					@include fluidContent(border-radius, 4px, 7, 4, 100vw);

					@media #{$mq-w1080-up} {
						height: 7px;
						border-radius: 7px;
					}
				}
			}
		}
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 50px;
		column-gap: 50px;
	}
}
