/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";

.actionComplete {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	padding: 4px;
	background: radial-gradient(circle at 50% 121.5px, $charcoal 50%, $richBlack 100%);
	transition: {
		property: opacity, transform;
		duration: 0.5s;
	}

	&--gameCard {
		@extend .actionComplete;
		border-radius: 10px;
		border-bottom-right-radius: 50px;

		&Visible {
			@extend .actionComplete--gameCard;
			opacity: 1;
			transform: scale(1);
		}

		&Hidden {
			@extend .actionComplete--gameCard;
			opacity: 0;
			transform: scale(0);
			pointer-events: none;
		}
	}

	&--platformCard {
		@extend .actionComplete;
		border: {
			top: {
				left-radius: 10px;
				right-radius: 50px;
			}
			bottom: {
				left-radius: 50px;
				right-radius: 10px;
			}
		}

		&Visible {
			@extend .actionComplete--platformCard;
			opacity: 1;
			transform: scale(1);
		}

		&Hidden {
			@extend .actionComplete--platformCard;
			opacity: 0;
			transform: scale(0);
			pointer-events: none;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 20px;
		height: 100%;
		padding: 20px;
		border: {
			style: solid;
			width: 2px;
			color: $lemonChiffon;
		}

		&--gameCard {
			@extend .actionComplete__container;
			border-radius: 6px;
			border-bottom-right-radius: 46px;
		}

		&--platformCard {
			@extend .actionComplete__container;
			border: {
				top: {
					left-radius: 6px;
					right-radius: 46px;
				}
				bottom: {
					left-radius: 46px;
					right-radius: 6px;
				}
			}
		}
	}

	&__icon {
		width: 100px;
		height: 100px;
		border: {
			style: solid;
			width: 2px;
			color: $lemonChiffon;
			radius: 100px;
		}
	}

	&__title {
		font-size: 18px;
		text-align: center;
	}
}