/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";

.actionComplete {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	padding: 4px;
	border-radius: 10px;
	border-bottom-right-radius: 50px;
	background: radial-gradient(circle at 50% 121.5px, $charcoal 50%, $eerieBlack 100%);
	transition: {
		property: opacity, transform;
		duration: 0.5s;
	}

	&--visible {
		@extend .actionComplete;
		opacity: 1;
		transform: scale(1);
	}

	&--hidden {
		@extend .actionComplete;
		opacity: 0;
		transform: scale(0);
		pointer-events: none;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 20px;
		height: 100%;
		padding: 20px;
		border: {
			style: solid;
			width: 2px;
			color: $lemonChiffon;
			radius: 8px;
		}
		border-bottom-right-radius: 46px;
	}

	&__icon {
		width: 100px;
		height: 100px;
		border: {
			style: solid;
			width: 2px;
			color: $lemonChiffon;
			radius: 100px;
		}
	}

	&__title {
		font-size: 18px;
		text-align: center;
	}
}