/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";
@import "../../styles/keyframes.scss";

.button {
	&__menu {
		position: relative;
		z-index: 3;
		width: 40px;
		height: 40px;
		border: {
			style: solid;
			width: 1px;
			color: $cadetGray;
			radius: 40px;
		}
		color: $cadetGray;
		background-color: $eerieBlack;
		box-shadow: 0 0 2px $eerieBlack;
		-webkit-tap-highlight-color: transparent;
		transition: {
			property: box-shadow, border-color, stroke;
			duration: 0.5s;
		}

		&:focus-visible {
			border-color: $lemonChiffon;
			animation: {
				name: focusAnimation;
				duration: 2s;
				iteration-count: infinite;
			}

			svg {
				stroke: $lemonChiffon;
			}
		}

		&:active {
			border-color: $lemonChiffon;
			box-shadow: 0 0 10px 8px $lemonChiffon;

			svg {
				stroke: $lemonChiffon;
			}
		}

		@media screen {
			@media #{$desktop} {
				&:hover {
					border-color: $lemonChiffon;

					svg {
						stroke: $lemonChiffon;
					}
				}
			}
		}
	}

	&__gameCardAction {
		width: 100%;
		height: 100%;
		border: {
			style: solid;
			width: 1px;
			color: $cadetGray;
			radius: 40px;
		}
		background-color: $eerieBlack;
		-webkit-tap-highlight-color: transparent;
		box-shadow: 0 0 10px 5px $eerieBlack;
		transition: {
			property: box-shadow, border-color, fill;
			duration: 0.5s;
		}

		&:focus-visible {
			animation: {
				name: focusAnimation;
				duration: 2s;
				iteration-count: infinite;
			}
			border-color: $lemonChiffon;

			svg {
				fill: $lemonChiffon;
			}
		}

		&:active {
			border-color: $lemonChiffon;
			box-shadow: 0 0 10px 8px $lemonChiffon;
		}

		@media screen {
			@media #{$desktop} {
				&:hover {
					border-color: $lemonChiffon;

					svg {
						fill: $lemonChiffon;
					}
				}
			}
		}

		&--checked {
			@extend .button__gameCardAction;
			border-color: $lemonChiffon;
			background-color: $lemonChiffon;
		}
	}
}
