/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/keyframes.scss";

.button {
	&__menu {
		position: absolute;
		left: 10px;
		z-index: 3;
		border: {
			style: solid;
			width: 1px;
			color: $powderBlue;
		}
		color: $powderBlue;
		background-color: $richBlack;
		box-shadow: 0 0 2px $richBlack;
		-webkit-tap-highlight-color: transparent;
		transition: {
			property: box-shadow, border-color, stroke, transform;
			duration: 0.5s, 0.5s, 0.5s, 0.1s;
		}

		&:focus-visible {
			border-color: $lemonChiffon;
			animation: {
				name: focusAnimation;
				duration: 2s;
				iteration-count: infinite;
			}

			svg {
				stroke: $lemonChiffon;
			}
		}

		&:active {
			transform: scale(0.95);
		}

		@media screen {
			@media #{$portrait} {
				@include fluidContent(width, 40px, 60, 40, 100vw);
				@include fluidContent(height, 40px, 60, 40, 100vw);
				@include fluidContent(border-radius, 40px, 60, 40, 100vw);

				@media #{$mq-w1080-up} {
					width: 60px;
					height: 60px;
					border-radius: 60px;
				}
			}

			@media #{$desktop} {
				&:hover {
					border-color: $lemonChiffon;

					svg {
						stroke: $lemonChiffon;
					}
				}
			}
		}
	}

	&__cardAction {
		width: 100%;
		height: 100%;
		border: {
			style: solid;
			width: 1px;
			color: $powderBlue;
			radius: 40px;
		}
		background-color: $richBlack;
		-webkit-tap-highlight-color: transparent;
		box-shadow: 0 0 10px 5px $richBlack;
		transition: {
			property: border-color, fill, stroke, transform;
			duration: 0.5s, 0.5s, 0.5s, 0.1s;
		}

		&:focus-visible {
			animation: {
				name: focusAnimation;
				duration: 2s;
				iteration-count: infinite;
			}
			border-color: $lemonChiffon;

			svg {
				stroke: $lemonChiffon;
			}
		}

		&:active {
			transform: scale(0.95);
		}

		@media screen {
			@media #{$desktop} {
				&:hover {
					border-color: $lemonChiffon;

					svg {
						stroke: $lemonChiffon;
					}
				}
			}
		}

		&--checked {
			@extend .button__cardAction;

			&:focus-visible {
				svg {
					fill: $lemonChiffon;
				}
			}

			@media screen {
				@media #{$desktop} {
					&:hover {
						svg {
							fill: $lemonChiffon;
						}
					}
				}
			}
		}
	}

	&__submit {
		font: {
			family: $jost;
			weight: 700;
		}
		width: 100px;
		height: 35px;
		border: {
			style: solid;
			width: 1px;
			color: $powderBlue;
			radius: 30px;
		}
		color: $richBlack;
		background-color: $powderBlue;
		box-shadow: 0 0 10px 0 $richBlack;
		transition: {
			property: background-color, border-color, transform;
			duration: 0.5s, 0.5s, 0.1s;
		}

		&:focus-visible {
			animation: {
				name: focusAnimation;
				duration: 2s;
				iteration-count: infinite;
			}
		}

		&:active {
			transform: scale(0.95);
		}

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 13px, 15, 13, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 15px;
				}
			}

			@media #{$desktop} {
				&:hover {
					background-color: $lemonChiffon;
					border-color: $lemonChiffon;
				}
			}
		}
	}

	&__clear {
		font-family: $jost;
		width: 100px;
		height: 35px;
		border: {
			style: solid;
			width: 1px;
			color: $powderBlue;
			radius: 30px;
		}
		color: $powderBlue;
		background-color: $richBlack;
		box-shadow: 0 0 10px 0 $richBlack;
		transition: {
			property: border-color, color, transform;
			duration: 0.5s, 0.5s, 0.1s;
		}

		&:focus-visible {
			border-color: $lemonChiffon;
			animation: {
				name: focusAnimation;
				duration: 2s;
				iteration-count: infinite;
			}
		}

		&:active {
			transform: scale(0.95);
		}

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 13px, 15, 13, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 15px;
				}
			}

			@media #{$desktop} {
				&:hover {
					border-color: $lemonChiffon;
					color: $lemonChiffon;
				}
			}
		}
	}

	&__load {
		font: {
			family: $jost;
			weight: 600;
		}
		width: fit-content;
		color: $richBlack;
		padding: {
			right: 20px;
			left: 20px;
		}
		border: {
			style: solid;
			width: 1px;
			color: $powderBlue;
		}
		background-color: $powderBlue;
		box-shadow: 0 0 10px 0 $richBlack;
		transition: {
			property: background-color, border-color, transform;
			duration: 0.5s, 0.5s, 0.1s;
		}

		&:focus-visible {
			animation: {
				name: focusAnimation;
				duration: 2s;
				iteration-count: infinite;
			}
		}

		&:active {
			transform: scale(0.95);
		}

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 13px, 15, 13, 100vw);
				@include fluidContent(height, 40px, 50, 40, 100vw);
				@include fluidContent(border-radius, 40px, 50, 40, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 15px;
					height: 50px;
					border-radius: 50px;
				}
			}

			@media #{$desktop} {
				&:hover {
					background-color: $lemonChiffon;
					border-color: $lemonChiffon;
				}
			}
		}
	}

	&__tab {
		width: 100%;
		height: 100%;
		font-family: $jost;
		font-size: 16px;
		color: $powderBlue;
		border-radius: 2px;

		&--active {
			@extend .button__tab;
			background-color: $charcoal;
		}

		&--inactive {
			@extend .button__tab;
		}
	}
}
