/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/keyframes.scss";

.menu {
	position: fixed;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: $richBlack;
	transition: {
		property: transform, opacity;
		duration: 0.5s;
	}

	&--open {
		@extend .menu;
		transform: translateX(0);
		opacity: 1;
	}

	&--closed {
		@extend .menu;
		transform: translateX(-100%);
		opacity: 0;
	}

	&__list {
		display: flex;
		flex-direction: column;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(row-gap, 25px, 100, 25, 100vw);

				@media #{$mq-w1080-up} {
					row-gap: 100px;
				}
			}
		}

		&Item {
			transition: {
				property: box-shadow;
				duration: 0.5s;
			}

			@media screen {
				@media #{$portrait} {
					@include fluidContent(width, 200px, 400, 200, 100vw);
					@include fluidContent(height, 50px, 75, 50, 100vw);

					@media #{$mq-w1080-up} {
						width: 400px;
						height: 75px;
					}
				}
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		color: $powderBlue;
		text-align: center;
		transition: {
			property: color, background-color;
			duration: 0.5s;
		}

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 25px, 50, 25, 100vw);
				@include fluidContent(border-radius, 50px, 75, 50, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 50px;
					border-radius: 75px;
				}
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: calc(50% - 5px);
			left: 10px;
			width: 10px;
			height: 10px;
			background-color: $powderBlue;
			border-radius: 10px;
			opacity: 0;
			transition: {
				property: opacity, background-color;
				duration: 0.5s;
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: calc(50% - 5px);
			right: 10px;
			width: 10px;
			height: 10px;
			background-color: $powderBlue;
			border-radius: 10px;
			opacity: 0;
			transition: {
				property: opacity, background-color;
				duration: 0.5s;
			}
		}

		&:focus-visible {
			color: $lemonChiffon;
			animation: {
				name: focusAnimation;
				duration: 2s;
				iteration-count: infinite;
			}

			&:before {
				background-color: $lemonChiffon;
			}

			&:after {
				background-color: $lemonChiffon;
			}
		}

		&:active {
			transform: scale(0.95);
		}

		@media screen {
			@media #{$desktop} {
				&:hover {
					color: $lemonChiffon;
				}
			}
		}

		&--active {
			@extend .menu__link;

			&:before {
				opacity: 1;
			}

			&:after {
				opacity: 1;
			}

			@media screen {
				@media #{$desktop} {
					&:hover {
						&:before {
							background-color: $lemonChiffon;
						}

						&:after {
							background-color: $lemonChiffon;
						}
					}
				}
			}
		}
	}
}
