/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";

.menu {
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: $eerieBlack;
	transition: {
		property: transform;
		duration: 0.5s;
	}

	&--open {
		@extend .menu;
		transform: translateX(0);
	}

	&--closed {
		@extend .menu;
		transform: translateX(-100%);
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 25px;

		&Item {
			position: relative;
			width: 140px;
			border-radius: 50px;
			transition-property: box-shadow;
			transition-duration: 0.5s;

			&:before {
				content: "";
				position: absolute;
				top: calc(50% - 1px);
				left: -100%;
				width: 100%;
				height: 2px;
				background-color: $cadetGray;
				border-radius: 10px;
				opacity: 0;
				transition: {
					property: opacity, background-color, box-shadow;
					duration: 0.5s;
				}

				&:focus-visible {
					box-shadow: 0 0 1px 8px $lemonChiffon;
				}

				&:active {
					box-shadow: 0 0 10px 8px $lemonChiffon;
				}
			}

			&:after {
				content: "";
				position: absolute;
				top: calc(50% - 1px);
				right: -100%;
				width: 100%;
				height: 2px;
				background-color: $cadetGray;
				border-radius: 10px;
				opacity: 0;
				transition-property: opacity, background-color, box-shadow;
				transition-duration: 0.5s;

				&:focus-visible {
					box-shadow: 0 0 1px 8px $lemonChiffon;
				}

				&:active {
					box-shadow: 0 0 10px 8px $lemonChiffon;
				}
			}

			&:focus-visible {
				box-shadow: 0 0 1px 8px $lemonChiffon;

				&:before {
					box-shadow: 0 0 1px 8px $lemonChiffon;
				}

				&:after {
					box-shadow: 0 0 1px 8px $lemonChiffon;
				}
			}

			&:active {
				box-shadow: 0 0 10px 8px $lemonChiffon;

				&:before {
					box-shadow: 0 0 10px 8px $lemonChiffon;
				}

				&:after {
					box-shadow: 0 0 10px 8px $lemonChiffon;
				}
			}

			@media screen {
				@media #{$desktop} {
					&:hover {
						border-color: $lemonChiffon;

						&:before {
							background-color: $lemonChiffon;
							opacity: 1;
						}

						&:after {
							background-color: $lemonChiffon;
							opacity: 1;
						}
					}
				}
			}

			&--active {
				@extend .menu__listItem;
				border-radius: 50px;
				outline: {
					style: solid;
					width: 1px;
					color: $cadetGray;
				}
				transition-property: outline-color, box-shadow;
				transition-duration: 0.5s;

				&:focus-visible {
					box-shadow: 0 0 1px 8px $lemonChiffon;
				}
	
				&:active {
					box-shadow: 0 0 10px 8px $lemonChiffon;
				}

				@media screen {
					@media #{$desktop} {
						&:hover {
							outline-color: $lemonChiffon;
						}
					}
				}
			}
		}
	}

	&__link {
		display: block;
		width: 100%;
		height: 100%;
		color: $cadetGray;
		font-size: 20px;
		text-align: center;
		transition: {
			property: $lemonChiffon;
			duration: 0.5s;
		}

		&:before {
			content: "";
			position: absolute;
			top: calc(50% - 5px);
			left: -5px;
			width: 10px;
			height: 10px;
			background-color: $cadetGray;
			border-radius: 10px;
			opacity: 0;
			transition: {
				property: opacity background-color;
				duration: 0.5s;
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: calc(50% - 5px);
			right: -5px;
			width: 10px;
			height: 10px;
			background-color: $cadetGray;
			border-radius: 10px;
			opacity: 0;
			transition-property: opacity background-color;
			transition-duration: 0.5s;
		}

		@media screen {
			@media #{$desktop} {
				&:hover {
					color: $lemonChiffon;

					&:before {
						background-color: $lemonChiffon;
						opacity: 1;
					}

					&:after {
						background-color: $lemonChiffon;
						opacity: 1;
					}
				}
			}
		}

		&--active {
			@extend .menu__link;

		}
	}
}
