/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";

.svg {
	&__view {
		stroke: $cadetGray;
		stroke-width: 2px;
		fill: none;
		transition: {
			property: stroke;
			duration: 0.5s;
		}

		@media screen {
			@media #{$desktop} {
				&:hover {
					stroke: $lemonChiffon;
				}
			}
		}
	}

	&__collection {
		@extend .svg__view;
		stroke-width: unset;
		fill: $cadetGray;
		transition: {
			property: fill;
			duration: 0.5s;
		};

		@media screen {
			@media #{$desktop} {
				&:hover {
					fill: $lemonChiffon;
				}
			}
		}

		&--checked {
			fill: $eerieBlack;
		}
	}

	&__wishlist {
		@extend .svg__collection;

		&--checked {
			@extend .svg__collection--checked;
		}
	}

	&__platform {
		width: 15px;
		fill: $lemonChiffon;
	}

	&__complete {
		stroke: $lemonChiffon;
		stroke-width: 2px;
		fill: none;
	}
}