/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding: {
		right: 10px;
		left: 10px;
	}

	&__group {
		display: inherit;
		flex-direction: inherit;
		row-gap: 60px;
		text-align: center;
	}

	&__title {
		position: relative;
		font: {
			size: 24px;
			weight: 500;
			style: normal;
		}
		text-transform: uppercase;

		&:after {
			content: "";
			position: absolute;
			top: calc(100% + (30px - 10px));
			left: calc(50% - 10px);
			width: 20px;
			height: 20px;
			border-radius: 20px;
			background-color: $lemonChiffon;
		}
	}

	&__catchword {
		position: relative;
		font-size: 18px;

		&:before {
			content: "";
			position: absolute;
			top: calc(-30px - 0.5px);
			left: 0;
			width: 100%;
			height: 1px;
			border-radius: 2px;
			background-color: $lemonChiffon;
		}
	}
}
