/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

// Menu icon animation
@keyframes topLineToCross {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(9px);
	}

	100% {
		transform: translateY(9px) rotateZ(45deg);
	}
}

@keyframes middleLineToCross {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	52% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes bottomLineToCross {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-9px);
	}

	100% {
		transform: translateY(-9px) rotateZ(-45deg);
	}
}

@keyframes topLineToHamburger {
	0% {
		transform: translateY(9px) rotateZ(45deg);
	}

	50% {
		transform: translateY(9px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes middleLineToHamburger {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	52% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bottomLineToHamburger {
	0% {
		transform: translateY(-9px) rotateZ(-45deg);
	}

	50% {
		transform: translateY(-9px);
	}

	100% {
		transform: translateY(0);
	}
}


// Focus animation
@keyframes focusAnimation {
	0% {
		box-shadow: 0 0 10px 5px $eerieBlack;
	}

	50% {
		box-shadow: 0 0 1px 7px $lemonChiffon;
	}

	100% {
		box-shadow: 0 0 10px 5px $eerieBlack;
	}
}
