/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@mixin fluidContent($property, $minimum-size-rem, $maximum-size, $minimum-size, $maximum-viewport-vw-vh) {
	#{$property}: calc(#{$minimum-size-rem} + (#{$maximum-size} - #{$minimum-size}) * ((#{$maximum-viewport-vw-vh} - 306px) / (1080 - 306)));
}


// Mixins for styles in common
@mixin pagesMainContent() {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	width: 100%;
	height: 100%;
	margin-top: 100vh;
	padding: {
		top: 50px;
		right: 10px;
		bottom: 50px;
		left: 10px;
	}
}
