/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.platforms {
	@include pagesMainContent();
	row-gap: 50px;
	background-color: $richBlack;

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 50px;
		column-gap: 50px;
	}
}
