/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.publishers {
	@include pagesMainContent();
	background:
		url("../images/tile.svg"),
		radial-gradient(circle at top left, $cadetGray 0%, transparent 50%),
		radial-gradient(circle at bottom right, $cadetGray 0%, transparent 50%)
	;
	background: {
		color: $eerieBlack;
		size: auto 100vh;
		position: 50% 50%;
		attachment: fixed;
	}

	&__container {
		display: flex;
		justify-content: center;
		row-gap: 50px;
		flex-wrap: wrap;
	}
}
