/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";

.header {
	position: fixed;
	z-index: 2;
	width: calc(100% - 20px);
	height: 60px;
	margin: {
		top: 10px;
		right: 10px;
		left: 10px;
	}
	padding: 4px;
	border-radius: 60px;
	background: radial-gradient(ellipse at center 170%, $cadetGray 0%, $eerieBlack 75%);
	background-color: $eerieBlack;
	box-shadow: 0 0 10px 5px $eerieBlack;

	&__container {
		display: flex;
		align-items: center;
		column-gap: 15px;
		width: 100%;
		height: 100%;
		padding-left: 4px;
		border: {
			style: solid;
			width: 2px;
			color: $cadetGray;
			radius: 60px;
		}
	}

	&__title {
		font: {
			family: $audiowide;
			size: 22px;
		}
		color: $cadetGray;
		text-transform: uppercase;
		word-spacing: 2px;
	}
}
