/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/keyframes.scss";

.footer {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: $richBlack;
	padding: {
		top: 50px;
		bottom: 10px;
	}
	color: $powderBlue;
	text-align: center;

	@media screen {
		@media #{$portrait} {
			@include fluidContent(row-gap, 40px, 50, 40, 100vw);
			@include fluidContent(padding-right, 10px, 20, 10, 100vw);
			@include fluidContent(padding-left, 10px, 20, 10, 100vw);

			@media #{$mq-w1080-up} {
				row-gap: 50px;
				padding: {
					right: 20px;
					left: 20px;
				}
			}
		}
	}

	&__title {
		font-family: $audiowide;
		text-transform: uppercase;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 20px, 35, 20, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 35px;
				}
			}
		}
	}

	&__credits {
		display: inherit;
		flex-direction: inherit;
		row-gap: 20px;
	}

	&__link {
		display: inline-block;
		text-decoration: underline;
		border-radius: 3px;
		transition: {
			property: background-color, color, transform;
			duration: 0.5s, 0.5s, 0.1s;
		}

		&:link {
			color: $lemonChiffon;
		}

		&:visited {
			color: $powderBlue;
		}

		@media screen {
			@media #{$desktop} {
				&:hover {
					background-color: $lemonChiffon;
					color: $richBlack;
				}
			}
		}

		&:focus-visible {
			animation: {
				name: linksFocusAnimation;
				duration: 2s;
				iteration-count: infinite;
			}
		}

		&:active {
			transform: scale(0.95);
		}
	}

	&__year {
		font-size: 12px;
	}
}