/*
	Game World
	April 2023
	Arnaud De Baerdemaeker
*/

@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.searchField {
	background-color: $charcoal;
	padding: 4px;
	border-radius: 10px;
	width: 100%;

	@media screen {
		@media #{$portrait} {
			max-width: 500px;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		padding: 20px;
		border: {
			style: solid;
			width: 2px;
			color: $powderBlue;
			radius: 6px;
		}
	}

	&__field {
		display: inherit;
		flex-direction: inherit;
		border-radius: 6px;
		padding: 10px;
		background-color: $richBlack;
	}

	&__label {
		color: $powderBlue;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 12px, 14, 12, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 14px;
				}
			}
		}
	}

	&__input {
		font: {
			family: $jost;
			style: italic;
		}
		height: 30px;
		border: none;
		background-color: transparent;
		color: $lemonChiffon;
		padding: 0;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 14px, 16, 14, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 16px;
				}
			}
		}
	}

	&__buttons {
		display: inherit;
		justify-content: end;
		column-gap: 20px;
	}
}
